body{ 
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar{
    display: none;
}
#page1{
    height: 100vh;
    background-image: url("../img/mefirst.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
